<!-- Agenda Section -->
{% comment %}
Expects following parameters: agenda-data
{% endcomment %}
<section id="agenda" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Agenda</h2>
        </div>
        <div class="col-lg-12 simple-agenda d-flex">
        {% for day in include.agenda-data %}
        <div class="day days-{{ include.agenda-data | size }}">
            <h4>{{ day.title }} <span class="emph d-inline-block">/ {{ day.subtitle }}</span></h4>
            <div class="events">
                {% for event in day.events %}
                <div class="event {{ event.element-class }}">
                    <div>{{ event.time }}</div>
                    <div><strong>{{ event.title }}</strong></div>
                    <div style="font-size: 12px;">{{ event.subtitle }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>