<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{ "/images/mlinpl-favicon.png" | prepend: site.baseurl }}"/>

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link rel="stylesheet" href="{{ "/libs/bootstrap.min.css" | prepend: site.baseurl }}">

<!-- Custom CSS - ML in PL Theme -->
<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">

<!-- Custom Fonts -->
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/brands.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/libs/fontawesome/css/solid.min.css" | prepend: site.baseurl }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

<!-- SEO and OpenGraph Tags -->
{% seo %}
</head>
