<!-- jQuery Version 1.11.0 -->
<script src="{{ "/libs/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/libs/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Easing Plugin JavaScript -->
<script src="{{ "/libs/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Countdown library -->
<script src="{{ "/libs/countdown.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom ML in PL JavaScript -->
<script src="{{ "/bundle.js" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}"></script>
