{% comment %}
Expects following parameters:
    logos-data (with name, image and url), 
    imageMaxWidth, 
    imageMaxHeight,
    margin,
{% endcomment %}
<div class="row">
    <div class="col-xs-12 d-flex text-center">
    {% for logo in include.logos-data %}
    <div class="sponsor-logo" style="width: {{ include.imageMaxWidth }}; margin: {{ include.margin }};">
        {% if logo.url %}
        <a href="{{ logo.url }}" target="_blank">
        {% endif %}
            <img style="object-fit: contain; width: 100%; height: auto; max-width: {{ include.imageMaxWidth }}; max-height: {{ include.imageMaxHeight }};" src="{{ logo.image | relative_url }}" alt="{{ logo.name }} logo">
        {% if logo.url %}
        {% if logo.title %}
            <h5>{{ logo.title }}</h5>
        {% endif %}
        </a>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</div>
