{% comment %}
Expects following parameters: meetups-data
{% endcomment %}
<section>
    {% if include.meetups-data.upcoming %}
    <h2 id="meetup-countdown">/ Next meetup</h2>
    <div class="row">
        <div class="col-lg-6 d-flex" style="margin-bottom: 30px;">
            <img class="width-100" style="max-width: 600px;" src="{{ './images/meetups/wroclaw.jpg' | relative_url }}">
        </div>
        <div class="col-lg-6">
            <h3 style="padding-left: 10px; margin-bottom: 0;">
                <a href="{{ include.meetups-data.upcoming.url | relative_url }}" target="_blank">
                    <strong>{{ include.meetups-data.upcoming.title}}</strong>
                </a>
            </h3>
            <h4 style="padding-left: 10px; margin-top: 35px; margin-bottom: 0;"><i class="fa-solid fa-location-dot"></i> <strong>{{ include.meetups-data.upcoming.location }}</strong></h4>
            <h4 style="padding-left: 30px; margin-bottom: 0;">{{ include.meetups-data.upcoming.location-address }}</h4>
            <h4 style="padding-left: 10px; margin-top: 10px; margin-bottom: 0;"><i class="fa-solid fa-clock"></i> {{ include.meetups-data.upcoming.date }}</h4>
            
            {% include agenda-day-details.html day=include.meetups-data.upcoming %}
        </div>
    </div>
    {% else %}
    <h2 style="margin-top: 35px;">/ No upcoming meetups</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>
                We are working on the next meetup. In the meantime, follow our social media channels and check out our past events.
            </p>
        </div>
    </div>  
    {% endif %}
</section>

<section>
    <h2>/ Past events</h2>
    {% for day in include.meetups-data.past %}
    <div class="row">
        <div class="col-lg-12">
            <h3 style="padding-left: 10px; margin-bottom: 0;">
                <a href="{{ day.url | relative_url }}" target="_blank">
                    <strong>{{ day.title}}</strong>
                </a>
            </h3>
            <h4 style="padding-left: 10px; margin-top: 35px; margin-bottom: 0;"><i class="fa-solid fa-location-dot"></i> <strong>{{ day.location }}</strong></h4>
            <h4 style="padding-left: 30px; margin-bottom: 0;">{{ day.location-address }}</h4>
            <h4 style="padding-left: 10px; margin-top: 10px; margin-bottom: 10px;"><i class="fa-solid fa-clock"></i> {{ day.date }}</h4>
            <h4 style="padding-left: 10px;">
                <i class="fa-solid fa-users"></i>
                {% for speaker in day.speakers %}
                <strong>{{ speaker.name }}</strong>{% if forloop.last %}{% else %}, {% endif %}
                {% endfor %}
            </h4>
        </div>
    </div>
    {% endfor %}
</section>
