<section id="aftermovie" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Conference aftermovie and photos</h2>
            <iframe style="max-width: 100%; aspect-ratio: 560/315;" width="1170px" src="https://www.youtube-nocookie.com/embed/SVrsYo7afNY?si=M7yjoSt_ysmAPmMz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 25px;">
        <div class="col-lg-12">
            <a class="btn btn-default btn-lg" href="{{ "./photos" | relative_url }}"><i class="fa-solid fa-images"></i> See photos from <span class="logo"><span class="main-name">ML&nbsp;in&nbsp;PL</span>&nbsp;<span class="sub-name">Conference</span></span> </a>
        </div>
    </div>
</section>