<!-- ElevenLabs AI Audio Challenge Section -->
<section id="challenge" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ ElevenLabs AI Audio Challenge</h2>
            <p>
                The AI Audio Challenge is a competition organised by <strong>ElevenLabs</strong> in partnership with <span class="logo"><span class="main-name">ML <span class="emph">i</span>n PL</span></span>, open to all enthusiasts of applied AI. Participating teams are asked to develop a solution leveraging <strong>ElevenLabs</strong> audio AI technologies.
            </p>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <!-- TODO: Fill the link -->
            <a href="" class="btn btn-default btn-lg" target="_blank">Register</a>
        </div>
        <div class="col-lg-6 text-center">
            <a href="{{ "/ai-audio-challenge" | relative_url }}" class="btn btn-default btn-lg">Learn more</a>
        </div>
    </div>
</section>
