<div class="aiart-wrapper">
    <section id="aiart" class="container content-section aiart-section">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="images/aiart/mlinpl-aiart-2024-logo-white-stroke+shadow.png" alt="ML in PL AI Art Festival 2024" class="aiart-logo">
                <div class="aiart-date">
                    31 October - 11 November
                </div>
            </div>
            <div class="col-md-6 text-center">
                <p class="aiart-desc">
                    For the first time, as an accompanying event to the conference, we are organizing
                    a <strong>completely free</strong> festival 
                    dedicated to explore the intersection of Art and AI.
                </p>
                <a class="btn btn-default btn-lg" href="https://aiart.mlinpl.org">Learn more abaut the festival</a>
            </div>
        </div>
    </section>
</div>