<!-- Conference Game Section -->
<section id="game" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Conference Game</h2>
        </div>

        <div class="col-md-6">
            <div align="center" style="margin-bottom: 30px;">
                <img class="width-50 width-max-300px photo" style="margin-bottom: 5px;" src="{{ "./images/optimized/badge-game-800x800/badge-cnn.webp" | relative_url }}">
                <img class="width-50 width-max-300px photo" style="margin-bottom: 5px;" src="{{ "./images/optimized/badge-game-800x800/badge-rnn.webp" | relative_url }}">
            </div>
        </div>

        <div class="col-md-6">
            <p style="font-size: 1.75em; text-align: center;"><strong>What are these symbols on the badges?</strong></p>
            <p>
                <span style="font-size: 1.25em; text-align: center; display: block;">
                    <span style="letter-spacing: 5px; font-style: italic;">f</span>(firstName, lastName) ∈ {CNN, RNN}
                </span>
            </p>
            <p style="text-align: center;">
                Join our conference game: engage with the other participants and sponsors, gather your dataset, and win prizes by discovering the hidden function behind the badge symbols!
            </p>
            <div class="col-lg-12 text-center">
                <a href="{{ "/badge-game" | relative_url }}" class="btn btn-default btn-lg">Learn more</a>
            </div>
        </div>
    </div>
</section>
