<!-- Calls Section -->
{% comment %}
This section has 3 main states, parametrised with include.state:
    1. Open calls ("open")
    2. Closed calls before the conference ("closed")
    3. After the conference ("after"), with additional parameters:
        - pdfs: boolean
{% endcomment %}
<section id="calls" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>/ Call for Contributions (Talks, Posters and Tutorials)</h2>

            {% case include.state %}
                <!-- When CfC starts -->
                {% when "open" %}
                    <p>
                        We are very excited to invite all to submit proposals for talks, posters, and tutorials for {{ site.inline-logo }}!
                        Like every year, the majority of the conference program will be dedicated to presenting our participants' work and research.
                    </p>
                    <p>
                        If you would like to present a talk or a poster, please check the details of the <a href="/call-for-contributions"><strong>Call for Contributions</strong></a>. 
                        And if you are interested in giving a tutorial, the details of <a href="/call-for-tutorials"><strong>Call for Tutorials</strong></a>.
                    </p>

                <!-- When CfC is closed -->
                {% when "closed" %}
                    <p>
                        We were very excited to invite all to submit proposals for contributed talks and posters for {{ site.inline-logo }}!
                    </p>
                    <p>
                        Detailed descriptions of this year submission process are available both for the <a href="/call-for-contributions"><strong>Call for Contributions</strong></a> and the <a href="/call-for-tutorials"><strong>Call for Tutorials</strong></a>.
                    </p>
                    <p>
                        We can't wait to see the accepted talks, posters, and tutorials during the conference!
                    </p>
                
                <!-- After the conference -->
                {% when "after" %}
                    <p>
                        We were very excited to invite all to submit proposals for contributed talks and posters for {{ site.inline-logo }}!
                    </p>
                    <p>
                        This year we accepted <strong>{{ site.data.stats.cfc.talks_count }} talks and {{ site.data.stats.cfc.posters_count }} posters</strong> that were presented during the main conference, and also <strong>{{ site.data.stats.cfc..tutorials_count }} tutorials</strong> that were held on the last day of the event.
                        A list of talks, posters, and tutorials
                        {% if include.pdfs %}
                        (with slides and posters in pdf format) 
                        {% endif %}
                        can be found in <a href="/program/">the full program of the conference</a>. 
                    </p>
                    <div class="d-flex justify-content-center" style="text-align: center;">
                        <p>
                            <a href="/cfc-awards">Among all presenters, the winners of the <strong>Best Contributed Talk and Poster Award</strong> were selected by the conference participants!</a>
                        </p>
                    </div>
                    <p>
                        Detailed descriptions of this year submission process are available both for the <a href="/call-for-contributions"><strong>Call for Contributions</strong></a> and&nbsp;the&nbsp;<a href="/call-for-tutorials"><strong>Call&nbsp;for&nbsp;Tutorials</strong></a>.
                    </p>

                <!-- Fallback -->
                {% else %}
                    <p>
                        Stay tuned for updates on the Call for Contributions for {{ site.inline-logo }}!
                    </p>
            {% endcase %}
        </div>
    </div>
</section>
