<!-- Calls Section -->
<section id="calls" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>/ Call for Contributions (Talks, Posters and Tutorials)</h2>
            <p>
                We were very excited to invite all to submit proposals for contributed talks and posters for {{ site.inline-logo }}!
            </p>
            <p>
                This year we accepted 24 talks, 63 posters and 6 tutorials that were presented during the main conference. 
                A list of talks and posters (with slides and posters in pdf format) can be found in the full program of the conference. 
                Results of the Best Constributed Talk and Poster Award can be found <a href="/cfc-awards">here</a>.
            <p>
                A detailed description of the Call for Contribution can be found <a href="/call-for-contributions">here</a>, and Call for Tutorials <a href="/call-for-tutorials">here</a>.
            </p>
            <!-- <p>
                We are very excited to invite all to submit proposals for talks, posters, and tutorials for {{ site.inline-logo }}!
                Like every year, the majority of the conference program will be dedicated to presenting our participants' work and research.
            </p>
            <p>
                If you would like to present a talk or a poster, please check the details of the <strong>Call for Contributions</strong> that can be found <a href="/call-for-contributions">here</a>. 
                And if you are interested in giving a tutorial, you can find details of <strong>Call for Tutorials</strong> can be found <a href="/call-for-tutorials">here</a>.
            </p> -->
        </div>
        <!-- <div class="col-md-4 text-center">
            <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/group_of_people_looking_at_a_clock_1.webp" | relative_url }}">
        </div> -->
    </div>
</section>
