<!-- Organizers section -->
<section id="organizers" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Organizers</h2>
        </div>
        <div class="col-md-8">
            <p>
                The conference is organized by a non-profit ML in PL Association. 
                We are a group of young people who are determined to bring the best of Machine Learning to Central and Eastern Europe by creating a high-quality event for every ML enthusiast. 
                Although we come from many different academic backgrounds, we are united by the common goal of spreading knowledge about the discipline.
            </p>
        </div>
        <div class="col-md-4 text-center" style="margin-bottom: 35px;">
            <a href="https://mlinpl.org"><img class="width-100 width-max-400px" src="{{ "./images/mlinpl-logo-black.png" | relative_url }}"></a>
        </div>
    </div>
    
    {% include people-small-with-social.html people-data=site.data.organizers %}
</section>
