    <!-- Scientific board section -->
    <section id="scientific_board" class="container content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2>/ Scientific Board</h2>
                <p>
                    We have invited a group of outstanding researchers and entrepreneurs to serve 
                    on the scientific board of the conference. 
                    We consult the event's program with them 
                    to guarantee the best scientific level.
                </p>
            </div>
        </div>

        {% for member in site.data.scientific-board %}
        {% assign odd = forloop.index | modulo: 2 %}
        {% if odd == 1 %}
        <div class="row">
            {% endif %}
            <div class="col-lg-6">
                <div class="row person person-with-bio">
                    <div class="col-sm-4 text-center">
                        <div class="person-photo-with-social" style="width: 160px;">
                            <div class="person-photo-wrapper" style="width: 160px;">
                                <div>
                                    <img src="{{ member.image | relative_url }}" alt="{{ member.name }}">
                                </div>
                            </div>

                            <div class="person-social-160">
                                {% if member.google-scholar and member.google-scholar != "" %}
                                <a href="{{ member.google-scholar }}">
                                    <i>
                                        <img src="{{ "images/google-scholar-icon-white.svg" | relative_url }}" style="width: 100%; vertical-align: top;">
                                    </i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <h4 class="person-name">{{ member.name }}</h4>
                        <p class="person-title">{{ member.affiliation }}</p>
                     
                    </div>
                    <div class="col-sm-8 text-justify">
                        {% if member.bio-intro and member.bio-more %}
                        <input type="checkbox" class="read-more-state" id="scientific-board-{{ member.name | replace: ' ','-' }}-bio" />
                        <p style="font-size: 16px;" class="read-more-wrap">{{ member.bio-intro }} <span class="read-more-target">{{ member.bio-more }}</span>
                        </p>
                        <label for="scientific-board-{{ member.name | replace: ' ','-' }}-bio" class="btn btn-default read-more-trigger"></label>
                        {% elsif member.bio %}
                        <p style="font-size: 16px;">{{ member.bio }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if odd == 0 or forloop.last == true %}
        </div>
        {% endif %}

        {% endfor %}
    </section>