<!-- Tickets Section -->
<section id="tickets" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Tickets</h2> 
        </div>
        <div class="col-lg-4 text-center ticket-info" style="opacity: 50%;">
            <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled><strong><i class="fa-solid fa-ticket"></i> Early bird registration</strong></a>
                <p>
                    Selective registration that is available until 1&nbsp;September,&nbsp;23:59 (AoE). Notifications will be sent on 4&nbsp;September.
                </p>
                <table>
                    <thead class="bg-nonactive">
                        <tr>
                            <th>Ticket</th>
                            <th>Early Bird Price</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Student</td>
                            <td>250 PLN</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>350 PLN</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-lg-4 text-center ticket-info" style="opacity: 50%;">
            <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled><i class="fa-solid fa-ticket"></i> Regular registration</a>
            <p>
                First-come-first-served registration, which starts 14&nbsp;September, 18:00 CEST (GMT+2) and last until all tickets are sold out.
            </p>
            <table>
                <thead class="bg-nonactive">
                    <tr>
                        <th>Ticket</th>
                        <th>Regular Price</th>
                    </tr>
                <tbody>
                    <tr>
                        <td>Student</td>
                        <td>350 PLN</td>
                    </tr>
                    <tr>
                        <td>Regular</td>
                        <td>700 PLN</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 text-center ticket-info" style="opacity: 50%;">
            <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled>><i class="fa-solid fa-ticket"></i> Tutorial registration</a>
            <p>
                First-come-first-served registration for tutorials. Starts 18&nbsp;October, 18:00 CEST (GMT+2)<!--and last until all tickets are sold out-->.
                <strong>Selected tutorials are free of charge.</strong>
            </p>
            <table>
                <thead class="bg-nonactive">
                    <tr>
                        <th>Ticket</th>
                        <th>Price</th>
                    </tr>
                <tbody>
                    <tr>
                        <td>Student</td>
                        <td>50 PLN</td>
                    </tr>
                    <tr>
                        <td>Regular</td>
                        <td>100 PLN</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <!-- <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{ "./terms-and-conditions" | relative_url }}" class="btn btn-default btn-small"><i class="fa-solid fa-file-lines"></i> Terms and conditions</a>
                </li>
                <li>
                    <a href="{{ "./privacy-policy" | relative_url }}" class="btn btn-default btn-small"><i class="fa-solid fa-file-lines"></i> Privacy policy</a>
                </li>
            </ul> -->
            <!-- <p style="margin-top: 20px;">
                Do you want a free ticket? <a href="{{ "./call-for-contributions" | relative_url }}">Submit a talk or a poster proposal via Call for Contributions</a> and get a free ticket if it is accepted!
            </p> -->
        </div>
    </div>
</section>