<!-- Tickets Section -->
{% comment %}
To disable a ticket category:
  1. Add opacity: <div class="ticket-info" style="opacity: 50%;"></div>
  2. Change the button: <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled>
  3. Remove <strong> from the button text
  4. Change the table header from: <thead class="bg-active"> to: </thead><thead class="bg-nonactive">
{% endcomment %}
<section id="tickets" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Tickets</h2> 
        </div>
        <!-- <div class="col-lg-4 text-center ticket-col">
            <div class="ticket-info" style="opacity: 50%;">
                <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled><i class="fa-solid fa-ticket"></i> Early bird registration</a>
                <p>
                    Selective registration that is available until 31&nbsp;August,&nbsp;23:59 (AoE). 
                    Notifications will be sent before 7&nbsp;September.
                </p>
                <table>
                    <thead class="bg-nonactive">
                        <tr>
                            <th>Ticket</th>
                            <th>Early Bird Price</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Student</td>
                            <td>300 PLN</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>600 PLN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="col-lg-4 text-center ticket-col" style="opacity: 50%;">
            <div class="ticket-info">
                <a class="btn btn-default btn-nonactive btn-lg" style="width: 100%;" disabled><i class="fa-solid fa-ticket"></i> Regular registration</a>
                <p>
                    First-come-first-served registration, which starts 9&nbsp;September, 18:00 CEST (GMT+2) and last until all tickets are sold out.
                </p>
                <table>
                    <thead class="bg-nonactive">
                        <tr>
                            <th>Ticket</th>
                            <th>Regular Price</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Student</td>
                            <td>450 PLN</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>900 PLN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 text-center ticket-col" style="opacity: 50%;">
            <div class="ticket-info">
                <a href="https://app.evenea.pl/event/mlinpl24" class="btn btn-nonactive btn-default btn-lg" style="width: 100%;" disabled><i class="fa-solid fa-ticket"></i> Late registration</a>
                <p>
                    Missed out on ticket sales? We've set aside a very limited number of tickets just for you. 
                    <!-- Available from 24 October, 18:00 CEST (GMT+2). --></br>
                    Currently all tickets are sold out 😎
                </p>
                <table>
                    <thead class="bg-nonactive">
                        <tr>
                            <th>Ticket</th>
                            <th>Late Price</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Student</td>
                            <td>1200 PLN</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>1200 PLN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 text-center ticket-col">
            <div class="ticket-info">
                <a href="https://app.evenea.pl/event/mlinpl24-tutorials/" class="btn btn-default btn-lg" style="width: 100%;"><strong><i class="fa-solid fa-ticket"></i> Tutorial registration</strong></a>
                <p>
                    First-come-first-served registration for tutorials. Starts 21&nbsp;October, 18:00 CEST (GMT+2) and last until all tickets are sold out.
                    <!-- <strong>Selected tutorials are free of charge.</strong> -->
                </p>
                <table>
                    <thead class="bg-active">
                        <tr>
                            <th>Ticket</th>
                            <th>Price</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>Student</td>
                            <td>60 PLN</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>120 PLN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-lg-12">
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{ "./terms-of-participation" | relative_url }}" class="btn btn-default btn-small"><i class="fa-solid fa-file-lines"></i> Terms of participation</a>
                </li>
                <li>
                    <a href="{{ "./privacy-policy" | relative_url }}" class="btn btn-default btn-small"><i class="fa-solid fa-file-lines"></i> Privacy policy</a>
                </li>
            </ul>
            <!-- <p style="margin-top: 20px;">
                Do you want a free ticket? <a href="{{ "./call-for-contributions" | relative_url }}">Submit a talk or a poster proposal via Call for Contributions</a> and get a free ticket if it is accepted!
            </p> -->
        </div>
    </div>
</section>