<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Free Public Transport in Warsaw</h2>
            <p>
                The main ways of transport in Warsaw are buses, trams and metro. There are <a href="https://www.wtp.waw.pl/en/maps-schemas/ticket-zone-boundaries/" target="_blank">two ticket zones</a>, but with very high probability, you will only use the public transport in the first zone. 
            </p>
            <p>
                <strong>This year registered conference participants can travel through the first zone in Warsaw for free!</strong>
            </p>
            <ul>
                <li>During the ticket control, show both <strong>your badge and ID</strong> to the controller -- they will be accepted as a valid ticket.</li>

                <li>To enter the metro zone, scan the QR code available on the bottom of the back of your badge.</li>
            </ul>
            <p>
                <i class="emph fa-solid fa-qrcode"></i> <strong>The QR code on the badge is not a ticket</strong> -- you don't need to scan it in buses and trams, it is only used to pass the metro gates.
                It will work 15 - 17 October. For 18 October, a separate QR code will be sent to you by email.
            </p>
            <p>
                <strong>Free public transport for registered participants is provided thanks to the support of the Mayor of the Capital City of Warsaw.</strong>
            </p>
            <p>
                Additional information about transport can be found in <a href="/docs/mlinpl-2025-booklet.pdf" target="_blank">the conference booklet</a>.
            </p>
        </div>
    </div>
</section>