<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Free Public Transport in Warsaw</h2>
            <p>
                <strong>This year registered conference participants can travel through the first zone in Warsaw for free!</strong>
            </p>
            <p>
                Three main ways of transport in Warsaw are buses, trams and metro. There are two ticket zones, but with very high probability, you will only use the public transport in the first zone. 
            </p>

            <p>
                During the ticket control, show your badge to the controller, along with your ID.

                To enter the metro zone, scan the QR code available on the bottom of the back of your badge.
                The code on the badge will work 15 - 17 October. For 18 October, a separate QR code will be sent to you by email.
            </p>
            <p>
                <strong>Free public transport for registered participants is provided thanks to the support of the Mayor of the Capital City of Warsaw.</strong>
            </p>
            <!-- <p>
                Additional information about transport can be found in <a href="/docs/mlinpl-2025-booklet.pdf" target="_blank">the conference booklet</a>.
            </p> -->
        </div>
    </div>
</section>