<!-- About Section -->
<section id="venue" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
          <h2>/ Venue</h2>
        </div>
    </div>

    <!-- Main Venue -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                As in the previous years, the main conference is held at the remarkable 
                <strong><a href="https://www.kopernik.org.pl/en">Copernicus Science Centre</a></strong> in Warsaw, Poland.
            <!-- </p>
            <p> -->
                The Centre, standing on the bank of the Vistula River is one of the largest science centres in Europe,
                containing over 450 interactive exhibits.
            </p>
            <p>
                Address: <a href="https://www.google.com/maps/place/Copernicus+Science+Centre/@52.2418585,21.0261522,17z/data=!3m1!4b1!4m6!3m5!1s0x471ecc5ba250ccd1:0x8d6f1b9b8410960!8m2!3d52.2418552!4d21.0287271!16s%2Fm%2F05mwh1p?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D">
                    Wybrzeże Kościuszkowskie 20, 00-390 Warsaw</a>
            </p>
        </div>
        <div class="col-lg-6">
            <img class="width-100 photo" src="{{ "./images/misc/centrum-nauki-kopernika-1-optimized.webp" | relative_url }}">
        </div>
    </div>

    <!-- Tutorials Venue -->
    <!-- <div class="row" style="margin-top: 55px;">
        <div class="col-lg-8 col-lg-push-4">
            <p>
                The tutorials will be held at the <strong>Faculty of Mathematics, Informatics and&nbsp;Mechanics, University of Warsaw</strong>.
            </p>
            <p>
                Address: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics,+Informatics,+and+Mechanics,+University+of+Warsaw/@52.211788,20.9796542,17z/data=!3m1!4b1!4m6!3m5!1s0x471eccba48f9a455:0xc6c3df3b1dba32be!8m2!3d52.2117847!4d20.9822291!16s%2Fg%2F122t68cc?entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D">Stefana Banacha 2, 02-097 Warsaw</a>
            </p>
        </div>
        <div class="col-lg-4 col-lg-pull-8">
            <img class="width-100 photo" src="{{ "./images/misc/mimuw-2-optimized.webp" | relative_url }}">
        </div>
    </div> -->
</section>
