<!-- About Section -->
<section id="venue" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
          <h2>/ Venue</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                As in the previous year, the conference is held at the remarkable 
                <strong><a href="https://www.kopernik.org.pl/en">Copernicus Science Centre</a></strong> in Warsaw, Poland.
            <!-- </p>
            <p> -->
                The Centre, standing on the bank of the Vistula River is one of the largest science centres in Europe,
                containing over 450 interactive exhibits.
            </p>
            <p>
                Address: <a href="https://www.google.com/maps/place/Copernicus+Science+Centre/@52.2418585,21.0261522,17z/data=!3m1!4b1!4m6!3m5!1s0x471ecc5ba250ccd1:0x8d6f1b9b8410960!8m2!3d52.2418552!4d21.0287271!16s%2Fm%2F05mwh1p?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D">
                    Wybrzeże Kościuszkowskie 20, 00-390 Warsaw</a>
            </p>
        </div>
        <div class="col-lg-6">
            <img class="width-100 photo" src="{{ "./images/misc/centrum-nauki-kopernika-1-optimized.webp" | relative_url }}">
        </div>
    </div>
</section>
