<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% comment %}
    {% include conference/tickets.html %}
    {% endcomment %}
    {% include conference/about.html %}
    {% include conference/speakers-slider.html %}
    {% include conference/panels-slider.html %}
    {% comment %}
    {% include conference/sponsor-speakers-slider.html %}
    {% include agenda-slider.html agenda-data=site.data.agenda %}}
    {% endcomment %}
    {% include conference/calls.html %}
    {% include conference/sponsors.html %}
    {% include conference/timeline-with-calendars.html %}
    {% include conference/organizers.html %}
    {% include conference/advisory-board.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
</body>

</html>